<div class="container mt-4">
  <h1 class="text-center mb-4">Lista de Tareas</h1>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title">Tareas Actuales</h5>
          <div class="col-3">
            <select class="form-select" (change)="onStatusChange($event)">
              <option value="all">Mostrar Todas</option>
              <option value="completed">Completadas</option>
              <option value="pending">Pendientes</option>
            </select>
          </div>
          <!-- Botón de agregar tareas -->
          <div class="addTask" (click)="openAddTaskModal()">
            <i class="fas fa-plus"></i> Agregar
          </div>
          <app-add-task></app-add-task>

        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Título</th>
              <th>Completada</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ task.title }}</td>
              <td>
                <input class="checkbox" type="checkbox" [checked]="task.completed" (change)="updateTaskStatus(task)" />
              </td>
              <td >
                <div class="d-flex justify-content-around">
                <div class="icon-enter-ver" (click)="VerTask(task)">
                  <i class="fas fa-eye"></i>
                </div>
                <div class="icon-enter" (click)="removeTask(task._id)"><i class="fas fa-solid fa-trash"></i>
                </div>
              </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="tasks.length === 0" class="alert alert-info" role="alert">
          No hay tareas disponibles.
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
